
a {
    text-decoration: none;
}
li{
    color: white;
    list-style-type: none;
}
.slider{
    margin: 0;
    height: 44px ;
    background: brown;
    position: absolute;
}
.divider{

    background: #ffc107;
    height: 5px;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}
.divider-full{
    background: #ffc107;
    width: 350px;
    height: 5px;
    margin: auto;
    margin-bottom: 20px;
}